.scores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scoresForm {
  max-width: 380px;
}

.scores {
  text-transform: capitalize;
}

.ratingStar {
  font-size: 21px;
}

.highlight {
  color: #ffb400;
}

.contentTitle {
  display: flex;
  flex-direction: column;
}

.contentBody {
  font-size: 10px;
}

.chipText {
  margin-right: 5px;
}

.itemContent {
  flex: 1;
}
