.recommendation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recommendationForm {
  max-width: 380px;
}

.currentPosition {
  display: flex;
  flex-direction: row;

  button {
    margin-top: 15px;
    margin-left: 5px;
  }
}